<div class="row align-center content">
<h1 class="header-one animated bounceInDown">Search Results</h1>

</div>
<div class="align-center categories">
<!-- <div class="large-12 columns" > -->
	<ul class="large-block-grid-3">
  <li ng-repeat="result in results">
  <a 
			class="caption" 
			ng-href="/books/{{result._id}}"
			data-title="{{result.title}}" 
			data-description="See More About This Book &rarr;">

			<img src="{{result.image}}" alt="Book Cover">
			
		</a>
		</li>
</ul>
		
<!-- 	</div> -->
	</div>
</div>




<!-- ng-href="/browse/{{category}}"  -->