<!-- The Stuff I added -->

<div class="row content align-center">
<h1 class="header-one animated bounceInDown">:Category</h1>

</div>
<div class="row align-center categories">
	<ul class="large-block-grid-4">
		<li ng-repeat="(key, value) in categories| orderBy: 'created_at'"><a 
			class="caption" 
			ng-href="/browse/{{key}}" 
			data-title="{{key}}" 
			data-description="See All {{key}} &rarr;">

			<img src="{{value}}" style="border: 1px solid #DDDDDD;" alt="Book Cover">
			
		</a>
		</li>
	</ul>
</div>

<!-- The Stuff I added -->