<div class="row" ng-if="isLoggedIn()">
	<div class="large-6 large-offset-3 columns browse-categories animated bounceInLeft">
	<h1 class="header-book"><img style="border-radius: 50%; width: 100px; height: 100px;" src="https://45.media.tumblr.com/c1f37d3c366ce4cb974cc7de2531e3c6/tumblr_o1o1ck0dV51umlus3o1_400.gif" id="gif"> Yay. Your order is on the way!</h1>
		<p>Unfortunately, we haven't been able to set up a tracking service yet. Take me to back to <a href="/cart">my bag</a> or keep <a href="/">browsing</a>.</p>
		<p>Shipping takes 2-4 business days to process and since we are a small-scaled locally based used bookstore, it might take us up to 7-10 business days to ship to you <i class="fa fa-truck"></i>.</p>
	</div>
</div>
