<!-- save this stuff -->

<div class="row content align-center">
<h1 class="header-one animated bounceInDown">New Arrivals</h1>

</div> 
<div class="row align-center content" >
<ul class="large-block-grid-3">
	<li ng-repeat="book in books | orderBy: 'created_at' | limitTo:15" class="book-display">
		<a 
			class="caption" 
			ng-href="/books/{{book._id}}" 
			data-title="{{book.title}}" 
			data-description="by {{book.author}} &rarr;">

			<img ng-src="{{book.image}}" alt="Book Cover">
		</a>
	</li>
	</ul>
	</div>
</div>
<!-- save this stuff -->