<!-- 
<div class="row align-center content">
	<div class="large-3 medium-3 small-10 columns book" id="overlay" ng-repeat="book in books | orderBy: 'created_at' | limitTo:9">
			<h5 id="bookTitle">{{book.title}}</h5>
			<li>by {{book.author}}</li>
			<li><img src="app/assets/static/img/what_is_the_what.jpg"></li>
			<li><strong><span class="bookInfo">binding: </strong></span>hardcover</li>
			<li><span class="bookInfo"><strong>condition: </strong></span>good</li>
			<li><span class="bookInfo"><strong>edition: </strong></span>1st edition, 6th printing</li>
	</div>
</div> -->

<div class="row content align-center">
<h1 class="header-one">New Arrivals</h1>
</div>
<div class="row align-center content">
	<div class="large-3 medium-3 small-10 columns book" ng-repeat="book in books | orderBy: 'created_at' | limitTo:15">
		<a 
			class="caption" 
			href="#" 
			data-title="{{book.title}}" 
			data-description="by {{book.author}}">

			<img src="app/assets/static/img/middlesex.jpg" alt="Book Cover">
			
		</a>
	</div>
</div>