<div class="large-12 small-6 columns nav-bar" ng-controller="NavCtrl">
  <ul class="left nav-left">
  <li><a href="/" class="hvr-underline-from-left">Wall Desk Floor</a></li>
  <li><a href="#" ng-click="back()" class="hvr-underline-from-left">Back</a></li>
  <li><a href="/about" class="hvr-underline-from-left">About</a></li>
  <li><a href="/browse" class="hvr-underline-from-left">Browse</a></li>
  <li><a href="/cart" class="hvr-underline-from-left" ng-model="cartItems">Your Bag ({{cartCount}})</a></li>
  <li><a href="/login" class="hvr-underline-from-left" ng-if="!isLoggedIn()">Login</a>
  <a href="/" ng-click="logout()" class="hvr-underline-from-left" ng-if="isLoggedIn()">Logout</a></li>
  </ul>

  <ul class="right search-form">
  <li><form ng-submit="search()">
    <input type="text" class="form-control search" placeholder="Search" ng-model="searchTerm" >
    <input type="radio" class="form-control" ng-model="filter" value="author"><label for="Author"><small>By Author</small></label>
    <input type="radio" class="form-control" ng-model="filter" value="title"><label for="Title" ng-click="setFilter()"><small>By Title</small></label>
    <input type="radio" class="form-control" ng-model="filter" value="genres"><label for="Genre" ng-click="setFilter()"><small>By Genre</small></label>
  </form></li>
  </ul>


<div class="small-12 columns small-nav" ng-controller="NavCtrl">

  <ul id="dropdown-example-1" class="f-dropdown">
    <li ng-repeat="choice in items">
      <a>{{choice}}</a>
    </li>
  </ul>

  <a class="button dropdown" dropdown-toggle="#dropdown-example-2">Dropdowns can also have links!</a>
  <ul id="dropdown-example-2" class="f-dropdown">
    <li ng-repeat="(label, url) in linkItems">
      <a href="{{url}}" target="_blank">{{label}}</a>
    </li>
  </ul>

</div>


