
<!-- The Stuff I added -->
<div class="bar large-12 columns"  ng-controller="NavCtrl">
<div class="nav-bar align-center">
  <ul class="left">
  <li><a href="/" class="hvr-underline-from-left">Hemingway</a></li>
  <li><a href="/about" class="hvr-underline-from-left">About</a></li>
  <li><a href="/browse" class="hvr-underline-from-left">Browse</a></li>
  <li><a href="/cart" class="hvr-underline-from-left" ng-model="cartItems">Your Bag ({{cartCount}})</a></li>
  <li><a href="/login" class="hvr-underline-from-left" ng-hide="isLoggedIn()">Login</a></li>
  <li><a ng-click="logout()" class="hvr-underline-from-left" ng-show="isLoggedIn()">Logout</a></li>
  </ul>

  <ul>
  
  <li>
  <form ng-submit="search()">
    <div class="large-12 columns">
      <div class="row collapse postfix-round">
        <div class="small-12 columns input-form">
        <input type="text" placeholder="Search" class="search-input" ng-model="searchTerm">
        <input type="radio" ng-model="filter" value="author"><label for="Author"><small>By Author</small></label>
        <input type="radio" ng-model="filter" value="title"><label for="Title" ng-click="setFilter()"><small>By Title</small></label>
        <input type="radio" ng-model="filter" value="genres"><label for="Genre" ng-click="setFilter()"><small>By Genre</small></label>
        </div>
<!--         <div class="small-2 columns">
          <a href="#" class="postfix">Go</a>
        </div> -->
      </div>
    </div>
  </form>
  
  </div>
  </li>

</div>
</div>
<!-- The Stuff I added -->