<div class="top-bar">
  <div class="top-bar-left">
    <ul class="dropdown menu" data-dropdown-menu>
      <li class="menu-text">Hemingway</li>
 <!--      <li>
        <a href="#">One</a>
        <ul class="menu vertical">
          <li><a href="#">One</a></li>
          <li><a href="#">Two</a></li>
          <li><a href="#">Three</a></li>
        </ul>
      </li> -->
      <li><a href="#" class="hvr-underline-from-left">About</a></li>
      <li><a href="#" class="hvr-underline-from-left">Browse</a></li>
      <li><a href="#" class="hvr-underline-from-left">Your Bag</a></li>
      <li><a href="#" class="hvr-underline-from-left">New User</a></li>
      <li><a href="#" class="hvr-underline-from-left">Returning User</a></li>
    </ul>
  </div>
  <div class="top-bar-right">
    <ul class="menu">
      <form ng-submit="search()">
        <li><input type="search" class="search-input" placeholder="Search" ng-model="searchTerm"></li>
        <li><button type="submit" class="search-button">Search</button></li>
      </form>
    </ul>
  </div>
</div>
