<div class="row align-center">
<h1 class="header-one animated bounceInDown">Bag Summary</h1>
</div> 

<div class="row align-center browse-categories">
<div class="large-9 medium-6 small-12 columns">
<table>
  <thead>
    <tr>
    	<th width="200"> </th>
      <th width="600">Your Books</th>
      <th width="100">Price</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-model="length" ng-repeat="item in userItems">
    	<td class="user-books"><img ng-src="{{item.image}}"></td>
      <td class="user-books">{{item.title}}</td>
      <td class="user-books">{{item.price | currency}} <a href="#" ng-click="removeItem(item)">remove</a></td>
    </tr>
  </tbody>
</table>

<p class="text-center" ng-if="!length">Your Bag is Currently Empty. Start <a href="/">Browsing</a>?</p>

</div>


<div class="large-3 medium-6 small-12 columns" id="total-due">
<table>
  <thead>
    <tr>
      <th>Total Due:</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-model="total">
      <td width="300"><span class="total">{{total | currency}}</span></td>
    </tr>
  </tbody>
</table>

<a href="/checkout" ng-if="isLoggedIn()"><button class="expand checkout-btn">Checkout</button></a>
<a href="/login" ng-if="!isLoggedIn()"><button class="expand checkout-btn">Checkout</button></a>



</div>

</div>
</div>



