<div class="row align-center browse-categories">
<h1 class="header-one animated bounceInDown">Sign Up</h1>
</div> 


<div class="row signup-form">
<div class="large-12 columns">

	<form ng-Submit="userSignup()" name="userForm" novalidate>

			<div class="row form-group">
				<div class="large-6 columns">
				<label for="name.first">First Name <span style="color: tomato">* <span ng-messages="userForm.firstName.$error" ng-hide="userForm.firstName.$valid" ng-if="userForm.firstName.$touched">
					<span ng-message="required">Required.</span>
				</span></span></label>
				<input type="text" name="firstName" id="firstName" placeholder="First Name" ng-model="user.name.first" required>
				
				<!-- <span class="error" ng-if="userForm.firstName.$invalid">You name is required.</span> -->
				</div>

				
				<div class="large-6 columns">
				<label for="name.first">Last Name <span style="color: tomato">* <span ng-messages="userForm.lastName.$error" ng-hide="userForm.lastName.$valid" ng-if="userForm.lastName.$touched">
					<span ng-message="required">Required.</span>
				</span></span></label> 
				<input type="text" name="lastName" class="form-control" id="lastName" placeholder="Last Name" ng-model="user.name.last" required>
				</div>
			</div>

			<div class="row">
				<div class="large-6 columns">
				<label for="email">Email <span style="color: tomato">* <span ng-messages="userForm.email.$error"  ng-if="userForm.email.$touched" ng-hide="userForm.email.$valid">
					<span ng-message="Invalid">Invalid Email.</span>
				</span></span></label> 
				<input type="email" name="email" class="form-control" id="email" placeholder="Enter email" ng-model="user.email" required>
				</div>

				<div class="large-6 columns">
				<label for="phone">Phone</label> 
				<input type="text" class="form-control" id="phone" placeholder="Phone" ng-model="user.phone">
				</div>

			</div>

			<div class="row">
			<div class="large-12 columns">
				<label for="password">Password <span style="color: tomato">*</span></label>
				<input type="password" class="form-control" id="password" placeholder="Enter Password" ng-model="user.password">
				</div>
			</div>

			<div class="row">
				<div class="large-6 columns">
				<label for="address.street">Street <span style="color: tomato">*</span></label> 
				<input type="text" class="form-control" id="street" placeholder="Street (e.g. 333 12th Ave NE" ng-model="user.address.street">
			</div>
				
				<div class="large-6 columns">
					<label for="address.aptNumber">Apt No.</label> 
					<input type="number" class="form-control" id="aptNumber" placeholder="Apt (Optional)" ng-model="user.address.aptNumber">
				</div>
			</div>

			<div class="row">
				<div class="large-4 columns">
				<label for="address.city">City <span style="color: tomato">*</span></label> 
				<input type="text" class="form-control" id="city" placeholder="City" ng-model="user.address.city">
			</div>
				
				<div class="large-4 columns">
					<label for="address.state">State <span style="color: tomato">*</span></label> 
					<input type="text" class="form-control" id="state" placeholder="State (e.g WA)" ng-model="user.address.state">
				</div>

				<div class="large-4 columns">
					<label for="address.zipCode">Zipcode <span style="color: tomato">*</span></label> 
					<input type="number" class="form-control" id="zipCode" placeholder="Zipcode" ng-model="user.address.zipCode">
				</div>
			</div>

		<button type="submit" class="button expand" ng-disabled="userForm.$invalid">Signup</button>
	</form>

</div>
</div>