<div class="row">
<div class="large-12 columns signup-form">
<div class="row form-group">
				<div class="large-6 columns">
				<h1 class="header-two">Sign Up</h1>
				</div></div>
	<form ng-Submit="userSignup()" name="userForm" novalidate >

			<div class="row form-group">
				<div class="large-6 columns">
				<label for="name.first">First Name <span style="color: tomato">* <span ng-messages="userForm.firstName.$error" ng-hide="userForm.firstName.$valid" ng-if="userForm.firstName.$touched">
					<span ng-message="required">Required.</span>
				</span></span></label>
				<input type="text" class="search-input" name="firstName" id="firstName" placeholder="First Name" ng-model="user.name.first" required>
				
				<!-- <span class="error" ng-if="userForm.firstName.$invalid">You name is required.</span> -->
				</div>

				
				<div class="large-6 columns">
				<label for="name.first">Last Name <span style="color: tomato">* <span ng-messages="userForm.lastName.$error" ng-hide="userForm.lastName.$valid" ng-if="userForm.lastName.$touched">
					<span ng-message="required">Required.</span>
				</span></span></label> 
				<input type="text" name="lastName" class="search-input" id="lastName" placeholder="Last Name" ng-model="user.name.last" required>
				</div>
			</div>

			<div class="row">
				<div class="large-6 columns">
				<label for="email">Email <span style="color: tomato">* <span ng-messages="userForm.email.$error"  ng-if="userForm.email.$touched" ng-hide="userForm.email.$valid">
					<span ng-message="Invalid">Invalid Email.</span>
				</span></span></label> 
				<input type="email" name="email" class="search-input" id="email" placeholder="Enter email" ng-model="user.email" required>
				</div>

				<div class="large-6 columns">
				<label for="phone">Phone</label> 
				<input type="text" class="search-input" id="phone" placeholder="Phone (Optional)" ng-model="user.phone">
				</div>

			</div>

			<div class="row">
			<div class="large-12 columns">
				<label for="password">Password 
				<span style="color: tomato">* 
				<span ng-messages="userForm.password.$error" ng-if="userForm.password.$touched" ng-hide="userForm.password.$valid">
					<span ng-message="Invalid">Password has to be at least 8 characters long.</span>
				</span>
				</span>
				</label>
				<input type="password" name="password" class="search-input" id="password" placeholder="Enter Password" ng-model="user.password" ng-minlength="8" required>
				</div>
			</div>

			<div class="row">
				<div class="large-6 columns">
				<label for="address.street">Street <span style="color: tomato">* <span ng-messages="userForm.street.$error" ng-hide="userForm.street.$valid" ng-if="userForm.street.$touched">
					<span ng-message="required">Required.</span>
				</span></span></label> 
				<input type="text" name="street" class="search-input" id="street" placeholder="e.g. 333 12th Ave NE" ng-model="user.address.street" required>
			</div>
				
				<div class="large-6 columns">
					<label for="address.aptNumber">Apt No.</label> 
					<input type="number" class="search-input" id="aptNumber" placeholder="Apt (Optional)" ng-model="user.address.aptNumber">
				</div>
			</div>

			<div class="row">
				<div class="large-4 columns">
				<label for="address.city">City <span style="color: tomato">* <span ng-messages="userForm.city.$error" ng-hide="userForm.city.$valid" ng-if="userForm.city.$touched">
					<span ng-message="required">Required.</span>
				</span></span></label> 
				<input type="text" name="city" class="search-input" id="city" placeholder="City" ng-model="user.address.city" required>
			</div>
				
				<div class="large-4 columns">
					<label for="address.state">State <span style="color: tomato">* <span ng-messages="userForm.state.$error.maxlength" ng-hide="userForm.state.$valid" ng-if="userForm.state.$touched">
					<span ng-message="required">Please provide an abbreviation..</span>
				</span></span></label> 
					<input type="text" name="state" class="search-input" id="state" placeholder="e.g WA" ng-model="user.address.state" ng-maxlength="2" ng-maxlength="2" required>
				</div>

				<div class="large-4 columns">
					<label for="address.zipCode">Zipcode <span style="color: tomato">* <span ng-messages="userForm.zipCode.$error.maxlength" ng-messages="userForm.zipCode.$error.required" ng-hide="userForm.zipCode.$valid" ng-if="userForm.zipCode.$touched">
					<span ng-message="required">Invalid Zipcode.</span>
				</span></span></label> 
					<input type="number" name="zipCode" class="search-input" id="zipCode" placeholder="e.g 98105" ng-model="user.address.zipCode" ng-maxlength="5" required>
				</div>
			</div>

		<button type="submit" class="expand login-button" ng-disabled="userForm.$invalid">Signup</button>
	</form>

</div>
</div>